<div class="container-fluid" style="padding-bottom: 150px">
  <div class="container">
    <div class="col-12">
      <h1 class="title-inf" id="team">Team</h1>
    </div>
    <div class="container">
      <div class="col-12">
        <div class="wrapper-card d-flex">
          <div class="card">
            <div class="header-card">
              <img class="img-tw" src="./assets/images/akar-icons_twitter-fill.png" alt="logo">
              <div class="text-link">
                <a href="" class="user-info">
                  <p class="user-name">Roman Yaremenko</p>
                  <p class="followers">CEO / Founder</p>
                </a>
              </div>
            </div>
            <div class="foto-profile">
              <img class="foto" src="./assets/images/people/foto_1.jpg" alt="foto">
            </div>
          </div>
          <div class="card">
            <div class="header-card">
              <img class="img-tw" src="./assets/images/akar-icons_twitter-fill.png" alt="logo">
              <div class="text-link">
                <a href="" class="user-info">
                  <p class="user-name">Ivan Burno</p>
                  <p class="followers">Chief Logistician</p>
                </a>
              </div>
            </div>
            <div class="foto-profile">
              <img class="foto" src="./assets/images/people/foto_3.png" alt="foto">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
