<div class="container-fluid" style="padding-bottom: 80px">
  <div class="container">
    <div class="col-12">
      <h1 class="title-inf">People who trust us</h1>
    </div>
    <div class="container">
      <div class="col-12">
        <div class="wrapper-card d-flex">
          <div class="card">
            <div class="header-card">
              <img class="img-tw" src="./assets/images/akar-icons_twitter-fill.png" alt="logo">
              <div class="text-link">
                <a href="" class="user-info">
                  <p class="user-name">Elon Musk</p>
                  <p class="followers">73,M followers</p>
                </a>
              </div>
            </div>
            <div class="foto-profile">
              <img class="foto" src="./assets/images/people/elon.jpg" alt="foto">
            </div>
          </div>
          <div class="card">
            <div class="header-card">
              <img class="img-tw" src="./assets/images/akar-icons_twitter-fill.png" alt="logo">
              <div class="text-link">
                <a href="" class="user-info">
                  <p class="user-name">Ashton Kutcher</p>
                  <p class="followers">17,1M followers</p>
                </a>
              </div>
            </div>
            <div class="foto-profile">
              <img class="foto" src="./assets/images/people/elon.jpg" alt="foto">
            </div>
          </div>
          <div class="card">
            <div class="header-card">
              <img class="img-tw" src="./assets/images/akar-icons_twitter-fill.png" alt="logo">
              <div class="text-link">
                <a href="" class="user-info">
                  <p class="user-name">Mila Kunis</p>
                  <p class="followers">17.1M followers</p>
                </a>
              </div>
            </div>
            <div class="foto-profile">
              <img class="foto" src="./assets/images/people/elon.jpg" alt="foto">
            </div>
          </div>
          <div class="card">
            <div class="header-card">
              <img class="img-tw" src="./assets/images/akar-icons_twitter-fill.png" alt="logo">
              <div class="text-link">
                <a href="" class="user-info">
                  <p class="user-name">Elon Musk</p>
                  <p class="followers">73,M followers</p>
                </a>
              </div>
            </div>
            <div class="foto-profile">
              <img class="foto" src="./assets/images/people/elon.jpg" alt="foto">
            </div>
          </div>
        </div>
        <!--<div class="wrapper-card d-flex">
          <div class="card">
            <div class="header-card">
              <img class="img-tw" src="./assets/images/akar-icons_twitter-fill.png" alt="logo">
              <div class="text-link">
                <a href="" class="user-info">
                  <p class="user-name">Elon Musk</p>
                  <p class="followers">73,M followers</p>
                </a>
              </div>
            </div>
            <div class="foto-profile">
              <img class="foto" src="./assets/images/people/elon.jpg" alt="foto">
            </div>
          </div>
          <div class="card">
            <div class="header-card">
              <img class="img-tw" src="./assets/images/akar-icons_twitter-fill.png" alt="logo">
              <div class="text-link">
                <a href="" class="user-info">
                  <p class="user-name">Elon Musk</p>
                  <p class="followers">73,M followers</p>
                </a>
              </div>
            </div>
            <div class="foto-profile">
              <img class="foto" src="./assets/images/people/elon.jpg" alt="foto">
            </div>
          </div>
          <div class="card">
            <div class="header-card">
              <img class="img-tw" src="./assets/images/akar-icons_twitter-fill.png" alt="logo">
              <div class="text-link">
                <a href="" class="user-info">
                  <p class="user-name">Elon Musk</p>
                  <p class="followers">73,M followers</p>
                </a>
              </div>
            </div>
            <div class="foto-profile">
              <img class="foto" src="./assets/images/people/elon.jpg" alt="foto">
            </div>
          </div>
          <div class="card">
            <div class="header-card">
              <img class="img-tw" src="./assets/images/akar-icons_twitter-fill.png" alt="logo">
              <div class="text-link">
                <a href="" class="user-info">
                  <p class="user-name">Elon Musk</p>
                  <p class="followers">73,M followers</p>
                </a>
              </div>
            </div>
            <div class="foto-profile">
              <img class="foto" src="./assets/images/people/elon.jpg" alt="foto">
            </div>
          </div>
        </div>-->
      </div>
    </div>
  </div>
</div>
