<div class="container-fluid">
  <div class="container">
    <div class="col-12 donat-wrapper">
      <h1 class="title" id="donate">Donate from your heart and get an NFT heart in return!</h1>
      <p class="text-nft">
        The NFT was drawn by Ukrainian children who spent 11 days in a bomb shelter.
        We have digitized this drawing and now we want to share it with the whole world!
      </p>
    </div>
    <div class="col-12 donat-form" style="padding-bottom: 85px">
      <img class="img-heart" src="./assets/images/donate-heard.png" alt="heart">
      <div class="form-wrap">
        <p style="margin-bottom: 0;" class="form-p">
          <input class="inp-form" type="number" id="n1" placeholder="Enter amount in bnb"></p>
        <button class="pay-button">Donate BNB </button>
      </div>
        <div class="status-donat" id="status"></div>
    </div>
  </div>
</div>
