<div class="container-fluid">
  <div class="container">
    <div class="col-12 donat-wrapper">
      <h1 class="title" id="donate">Donat in exchange for a heart</h1>
      <p class="text-nft">
        Everyone who donates automatically receives a unique NFT from each child.
        <br><span class="text-2">P.S. All amounts will be transferred to the Children's Fund.</span>
      </p>
    </div>
    <div class="col-12 donat-form" style="padding-bottom: 85px">
      <img class="img-heart" src="./assets/images/donate-heard.png" alt="heart">
      <div class="form-wrap">
        <p style="margin-bottom: 0;" class="form-p">
          <input class="inp-form" type="number" id="n1" placeholder="Enter amount in bnb"></p>
        <button class="pay-button">Donate BNB </button>
      </div>
        <div class="status-donat" id="status"></div>
    </div>
  </div>
</div>
