
<nav class="navbar navbar-expand-lg menu fixed-top">
  <div class="container">
    <a class="navbar-brand" href="">
      <img class="logo-img" src="./assets/images/donate-heard.png" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
             class="nav-link">Community</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link disabled" disabled>Contract</a>
        </li>
        <li class="nav-item">
          <a href="#mission" class="nav-link">Mission</a>
        </li>
        <li class="nav-item dropdown">
          <a href="#team" class="nav-link">Team</a>
        </li>
        <li class="media">
          <div class="social-link">
            <a href="https://twitter.com/beforpeople" target="_blank" class="tw">
              <img src="./assets/images/akar-icons_twitter-fill.png" alt="twitter" class="social-mg">
            </a>
            <a href="https://t.me/thepeople_official" target="_blank" class="tg">
              <img src="./assets/images/telegram.png" alt="telegram" class="social-mg">
            </a>
          </div>
        </li>
      </ul>
    </div>
    <button class=" btn buy-button" disabled>Buy Token</button>
  </div>
</nav>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color: white">Community</h5>
        <!--<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
      </div>
      <div class="modal-body">
        <a href="https://twitter.com/beforpeople" target="_blank" class="link-group">
          <img src="./assets/images/akar-icons_twitter-fill.png" alt="logo chanel" class="img-chanell">
          <p class="text-chanell">Official twitter</p>
        </a>
        <a href="https://t.me/thepeople_official" target="_blank" class="link-group">
          <img src="./assets/images/ukraine.png" alt="logochanel" class="img-chanell">
          <p class="text-chanell">Ukrainian channel Telegram</p>
        </a>
        <a href="" target="_blank" class="link-group">
          <img src="./assets/images/united-states-of-america.png" alt="logo chanel" class="img-chanell">
          <p class="text-chanell">English channel Telegram</p>
        </a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

