<div class="container-fluid menu">
  <div class="container">
    <div class="col-12">
      <div class="navbar">
        <div class="logo-nav">
          <a href="" class="logo-link">
            <img class="logo-img" src="./assets/images/donate-heard.png" alt="logo">
          </a>
        </div>
        <div class="nav-menu">
          <a href="" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
             class="nav-link">Community</a>
          <a href="" class="nav-link">Contract</a>
          <a href="" class="nav-link">Mission</a>
          <a href="" class="nav-link">Donate</a>
          <a href="" class="nav-link">Team</a>
          <button class=" btn buy-button" disabled>Buy Token</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color: white">Community</h5>
        <!--<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
      </div>
      <div class="modal-body">
        <a href="https://twitter.com/beforpeople" target="_blank" class="link-group">
          <img src="./assets/images/akar-icons_twitter-fill.png" alt="logo chanel" class="img-chanell">
          <p class="text-chanell">Official twitter</p>
        </a>
        <a href="https://t.me/thepeople_official" target="_blank" class="link-group">
          <img src="./assets/images/ukraine.png" alt="logochanel" class="img-chanell">
          <p class="text-chanell">Ukrainian channel Telegram</p>
        </a>
        <a href="" target="_blank" class="link-group">
          <img src="./assets/images/united-states-of-america.png" alt="logo chanel" class="img-chanell">
          <p class="text-chanell">English channel Telegram</p>
        </a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
