@import"src/style/mixins/breakpoints";
.menu {
  background: #1d1f27;
  .navbar {
    display: flex;
    .nav-menu {
      display: flex;
      margin-left: 150px;

    }
  }
}

.modal-dialog {
  margin: 5.75rem auto;
}
.modal-content {
  background: #1D1F27;
}

.modal-body {
  display: flex;
  flex-direction: column;
}
.link-group {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 10px;
  .img-chanell {
    width: 25px;
  }
  .text-chanell {
    margin-bottom: 0;
    margin-left: 10px;
    font-size: 14px;
    font-family: "Lexend", sans-serif;
    color: white;
    letter-spacing:0.2ex;
    &:hover {
      color: #7fe3e3;
    }
  }
}
.nav-link.disabled {
  color: #6e6e6e!important;
}


/* ----- botst_menu----*/
.logo-img {
  width: 65px;
}
.nav-link {
  font-size: 16px;
  font-family: "Lexend", sans-serif;
  letter-spacing:0.2ex;
  font-weight: 400;
  color: white;
  &:hover {
    color: #7fe3e3;
  }
}
.buy-button {
  color: #ffffff;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  line-height: 1.55;
  font-weight: 600;
  border-radius: 5px;
  background-image: linear-gradient(90deg, rgba(149,232,105,1) 0%, rgba(81,252,144,1) 98%);
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  margin-left: 35px;
  padding: 10px 30px;
  &:hover {
    background-image: linear-gradient(90deg, rgba(28,164,78,1) 0%, rgba(79,232,138,1) 100%);
  }
}

.navbar .navbar-toggler-icon {
  opacity: 1;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
.media {
  display: none;
}
/*----------mobile-menu ------*/
@include respond-to($bp_medium) {
  .navbar-nav {
    align-items: center;
    padding-top: 30px;
  }
  .logo-img {
    width: 45px;
  }

  .buy-button {
    display: none;
  }
  .media {
    margin-top: 30px;
    margin-bottom: 15px;
    display: block;

    .tw {
      margin-right: 10px;
    }

    .social-mg {
      width: 30px;
    }
  }
}
