@import"src/style/mixins/breakpoints";

.wrapper {
  background: url("../../../assets/images/bghead2.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}
.title-1 {
  font-weight: 700;
  font-size: 25px;
  font-family: "Lexend", sans-serif;
  text-transform: uppercase;
  color: white;
}
.title-2 {
  font-weight: 900;
  font-size: 74px;
  font-family: "Lexend", sans-serif;
  text-transform: uppercase;
  color: white;
  line-height: 0.6;
  margin-bottom: 30px;
}
.text-1 {
  font-size: 16px;
  width: 75%;
  color: white;
  padding-bottom: 30px;
}

.image_1 {
  background: url("../../../assets/images/heart_ukrainian.png") no-repeat center center;
  background-size: cover;
  width: 500px;
  height: 500px;
  margin-bottom: 70px;
  margin-left: 50px;
  border-radius: 20px;
}

.buy-button {
  color: #ffffff;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  line-height: 1.55;
  font-weight: 600;
  border-radius: 5px;
  background-image: linear-gradient(90deg, rgba(149,232,105,1) 0%, rgba(81,252,144,1) 98%);
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  margin-right: 20px;
  padding: 10px 30px;
  &:hover {
    background-image: linear-gradient(90deg, rgba(28,164,78,1) 0%, rgba(79,232,138,1) 100%);
  }
}

.chart-button {
  color: #ffffff;
  font-size: 14px;
  font-family: 'Arial',Arial,sans-serif;
  line-height: 1.55;
  font-weight: 600;
  border-radius: 5px;
  background-image: linear-gradient(90deg, rgba(138,35,97,1) 0%, rgba(90,81,252,1) 98%);
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  padding: 10px 30px;
  &:hover {
    background-image: linear-gradient(90deg, rgba(117, 38, 69, 1) 0%, rgba(94, 74, 184, 1) 100%);
  }
}

.title-work {
  color: white;
  font-size: 24px;
}
.card-work {
  background: rgba(135, 255, 190, 0.05);
  box-shadow: 0px 4px 63px rgb(0 0 0 / 25%);
  border-radius: 8px;
  flex: 0 1 32%;
  margin: 50px 15px 85px 0;

  &:last-child {
    margin-right: 0;
  }
  &:hover {
    transform: translate(0,-20px);
    transition: all 0.3s ease 1ms;
    background: rgba(135, 255, 190, 0.15);
  }

  .text-card {
    color: #8dce83;
    padding: 30px 28px 135px 36px;
    .title-card {
      font-size: 24px;
      font-weight: 700;
      margin: 0 0 10px 0;
    }

    .content-card {
      font-size: 20px;
      min-height: 69px;
      color: darkgray;
    }
  }
}
.c-soon {
  color: lightgray;
  margin-top: 15px;
}
.logo-img {
  width: 65px;
}
/*----------mobile-menu ------*/
@include respond-to($bp_medium) {
  .logo-img {
    width: 45px!important;
  }
  .left-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .title-work {
    text-align: center;
    font-size: 20px;
  }

  .img-logo2 {
    display: none;
  }
  .image_1 {
    display: none;
  }
  .card-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .text-1 {
    text-align: center;
  }

  .card-work {
    margin: 50px 15px 0 0;
  }
  .text-card {
    padding: 30px 28px 50px 36px!important;
    text-align: center;
  }
}
