<div class="container-fluid wrapper">
  <div class="container d-flex" style="padding-top:  150px;">
    <div class="col left-block">
      <h1 class="title-1 white-color" id="home">The</h1>
      <h1 class="title-2 white-color">people</h1>
      <p class="text-1 white-color">
        Hello investor! We are a team of developers from Ukraine, who,
        like millions of other Ukrainians, were ruthlessly and unexpectedly caught in the grip of war!

        This project was created with the aim of helping Ukrainians who suffered
        in the bombing and destructive war. We cooperate with the main volunteer
        centers in Ukraine and call on the crypto community to do their bit to save children, women, and the elderly.
        Every cent will be spent on humanitarian aid to those in need of food, clothing and medical care.
      </p>
      <p class="text-1 white-color">
        All holders will receive an NFT token in the form of a heart, the
        saved heart of every Ukrainian child and person! We are for peace! We are the future!
      </p>
      <div class="button-block">
        <button class=" btn buy-button" disabled>Buy Token</button>
        <button class=" btn chart-button" disabled>Chart Token</button>
      </div>
      <p class="c-soon">Coming soon.</p>
    </div>
    <div class="col img-logo2">
      <div class="image_1"></div>
    </div>
  </div>
  <div class="container">
    <div class="col-12">
      <h1 class="title-work" id="mission">Our work process focuses on 3 areas:</h1>
      <div class="container">
        <div class="col-12 d-flex card-wrapper">
          <div class="card-work">
            <div class="text-card">
              <div class="title-card">Help with food</div>
              <div class="content-card">
                Trucks with humanitarian aid and food go to the hottest spots in Ukraine. Today, more than 7 tons
                of water, bread, baby food, cereals and other products for children have been delivered.
                Infant formula is especially needed.
              </div>
            </div>
          </div>
          <div class="card-work">
            <div class="text-card">
              <div class="title-card">Help with clothes</div>
              <div class="content-card">
                Due to the urgent evacuation, people were forced to abandon their suitcases
                free up space for others on trains and buses. Some stores have agreed to help
                our fund to supply clothing to those in need. We will warm hundreds of thousands
                of hearts, hundreds of thousands of people and children! A few dollars is one baby
                romper. Imagine how you can help!
              </div>
            </div>
          </div>
          <div class="card-work">
            <div class="text-card">
              <div class="title-card">Help with housing</div>
              <div class="content-card">
                There are no walls left in the bombed-out houses.
                People are deprived of their homes illegally and vilely.
                Now they are forced to look for a safe place for temporary stay,
                where it will be quiet and peaceful. Our foundation will help those in need find new,
                temporary housing where they can feel safe. We have already created lists of shelter places,
                but people still coming.
                Everyone has the right to sleep peacefully and be human!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
