<div class="container-fluid wrapper">
  <div class="container d-flex" style="padding-top:  150px;">
    <div class="col left-block">
      <h1 class="title-1 white-color" id="home">The</h1>
      <h1 class="title-2 white-color">people</h1>
      <p class="text-1 white-color">
        Project was created to help Ukrainian civilians and children.
        Every cent, every dollar will be spent on humanitarian aid to those in need of food, clothing and medical care.
        We are a united people who can and will help those in need.
      </p>
      <p class="text-1 white-color">
        All holders will receive an NFT token in the form of a heart, the saved heart of every Ukrainian child and person!
        We are for peace! We are the future!
      </p>
      <div class="button-block">
        <button class=" btn buy-button" disabled>Buy Token</button>
        <button class=" btn chart-button" disabled>Chart Token</button>
      </div>
      <p class="c-soon">Coming soon.</p>
    </div>
    <div class="col img-logo2">
      <div class="image_1"></div>
    </div>
  </div>
  <div class="container">
    <div class="col-12">
      <h1 class="title-work" id="mission">Our work process focuses on 3 areas:</h1>
      <div class="container">
        <div class="col-12 d-flex card-wrapper">
          <div class="card-work">
            <div class="text-card">
              <div class="title-card">Help with food</div>
              <div class="content-card">Providing the population with food will help peaceful people
                understand that they are not alone. All over the world we help them!</div>
            </div>
          </div>
          <div class="card-work">
            <div class="text-card">
              <div class="title-card">Help with clothes</div>
              <div class="content-card">People in constant stress, dampness and cold. Several import stores
                have agreed to work with us to supply clothing to those in need. We will warm hundreds
                of thousands of hearts, hundreds of thousands of people and our loved ones, children!</div>
            </div>
          </div>
          <div class="card-work">
            <div class="text-card">
              <div class="title-card">Help with housing</div>
              <div class="content-card">A lot of housing is abandoned, a lot of housing is abandoned.
                Our foundation will help those in need find new,
                temporary housing where they can feel safe. Sleep well, be human!</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
